$character-tile-arrow-size: $medium-spacing;

.character-tiles {
  display: flex;
  flex-wrap: wrap;
}

.character-tile-wrapper {
  @include size(100% 350px);
  box-shadow: 0 1px 0 0 $base-border-color, 1px 0 0 0 $base-border-color;

  @include media-up($medium-screen) {
    width: calc(100% / 2);
  }

  @include media-up($large-screen) {
    width: calc(100% / 4);
  }

  @include media-up($xl-screen) {
    height: 400px;
    width: calc(100% / 6);
  }
}

.character-tile {
  @include flex-center;
  @include size(100%);
  position: relative;
  transition: $base-transition;
  z-index: $character-tile-z-index;

  path {
    fill: $base-font-color;
  }

  @include media-up($medium-screen) {
    &:hover {
      background-color: $base-background-color;
      box-shadow: $far-shadow, $close-shadow;
      color: $action-color;
      transform: translateY(-$small-spacing);

      path {
        fill: $action-color;
      }
    }
  }
}

.character-tile__meta {
  @include position(absolute, null $base-spacing $base-spacing);
  display: flex;
  font-family: $mono-font-family;
  font-size: $xs-font-size;
  justify-content: space-between;
  opacity: 0.5;

  @include media-up($medium-screen) {
    .character-tile:hover & {
      opacity: 1;
    }
  }
}

.character-tile__arrow {
  @include flex-center;
  @include hidden;
  @include position(absolute, 0 0 null null);
  @include size($character-tile-arrow-size);
  background-color: $action-color;
  color: $white;

  i {
    @include flex-center;
    @include hidden;
    @include size($character-tile-arrow-size);
    transform: translate(-$character-tile-arrow-size, $character-tile-arrow-size);
    transition: all $slow-duration $base-timing;
  }

  @include media-up($medium-screen) {
    .character-tile:hover & {
      @include visible;

      i {
        @include visible;
        transform: translate(0, 0);
      }
    }
  }
}
