header {
  @include padding(null $medium-spacing);
  align-items: center;
  border-bottom: $base-border;
  display: flex;
  font-weight: bold;
  height: $nav-size;
  justify-content: space-between;

  @include media-down($medium-screen) {
    background-color: $base-background-color;
  }
}

.breadcrumb::after {
  @include margin(null $small-spacing);
  content: "\203A";
}

.header-info {
  cursor: pointer;
}
