$header-height: $large-spacing;

header {
  @include padding(null $medium-spacing);
  align-items: center;
  border-bottom: $base-border;
  display: flex;
  font-weight: bold;
  height: $header-height;
  justify-content: space-between;

  @include media-down($medium-screen) {
    background-color: $base-background-color;
  }
}

.breadcrumb-divider::after {
  @include margin(null $xs-spacing);
  content: $content_arrow;
  opacity: 0.5;
}

.header-info {
  cursor: pointer;
}
