.info {
  @include padding(null $base-spacing);
  color: $white;
  display: flex;
  flex-direction: column;
  height: $info-height-mobile;
  justify-content: center;
  position: relative;
  text-align: center;

  @include media-up($medium-screen) {
    @include padding(null $medium-spacing);
    align-items: center;
    flex-direction: row;
    height: $info-height;
    justify-content: space-between;
    text-align: left;
  }

  @include media-up($large-screen) {
    @include padding(null $xl-spacing);
  }
}

.info-content {
  @include media-down($medium-screen) {
    margin-bottom: $medium-spacing;
  }
}

.submit-button {
  align-self: center;
}
