html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $dark-background-color;
}

.main-wrapper {
  @include position(absolute, 0);
  background-color: $base-background-color;
  overflow: hidden;
  transition: margin $slow-duration $base-timing;

  .info-show & {
    margin-top: $info-height-mobile;

    @include media-up($medium-screen) {
      margin-top: $info-height;
    }

    @include media-up($large-screen) {
      @include margin(null $large-spacing $large-spacing);
    }
  }
}

.main-overlay {
  @include hidden;
  @include position(absolute, 0);
  background-color: $transparent-background-color;
  transition: all $base-duration $base-timing;
  z-index: $overlay-z-index;

  .info-show & {
    @include visible;

    &:hover {
      cursor: pointer;
      opacity: 0;
    }
  }
}

main {
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @include media-up($medium-screen) {
    padding-left: $nav-size;
  }
}
