$theme-dot-size: 16px;
$theme-height: $theme-dot-size + $xs-spacing * 2;

.theme-dots {
  @include padding(null $xs-spacing);
  @include position(absolute, null 0 0 null);
  align-items: center;
  background-color: $dark-background-color;
  border-top-left-radius: $theme-height / 2;
  display: flex;
  height: $theme-height;
  z-index: $theme-dots-z-index;
}

.theme-dot {
  @include margin(null $xxs-spacing);
  @include circle($theme-dot-size);
  cursor: pointer;
  transition: $base-transition;

  &:hover {
    transform: scale(1.25);
  }
}
