%header
  %h1
    = link_to "Unique Characters", "/", data: { theme_param_link: true }

    - if content_for?(:breadcrumb)
      %span.breadcrumb-divider
      = yield_content :breadcrumb

  .header-info{ data: { info_show: true } }
    About
