.info
  .info-content
    %h2 Unique Characters
    %p A catalogue of characters with quirky attributes.
    %small by #{ link_to "Ali Aas", "http://ali-aas.com", target: "_blank" }, designer #{ link_to "@thoughtbot", "http://thoughtbot.com", target: "_blank" }
  = link_to "Submit Your Own", form_path, class: "button submit-button", target: "_blank"
