.theme
  %small Palette
  .theme-circle.theme-circle-gold{ data: { theme: "gold" } }
  .theme-circle.theme-circle-mint{ data: { theme: "mint" } }
  .theme-circle.theme-circle-snow{ data: { theme: "snow" } }
