$button-border: 1px solid $white;
$button-height: 50px;
$button-offset: 4px;
$button-line-height: $button-height + $button-offset;

.button {
  @include padding(null $medium-spacing);
  border: $button-border;
  color: $white;
  font-family: $mono-font-family;
  height: $button-height;
  line-height: $button-line-height;
  position: relative;
  transition: $base-transition;

  &::after {
    @include position(absolute, -1px);
    border: $button-border;
    content: "";
    display: block;
    transform: translate($button-offset, $button-offset);
  }

  &:hover {
    background-color: $base-background-color;
    color: $base-font-color;
  }
}
