@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin media-down($size) {
  @media (max-width: $size - 1px) { @content; }
}

@mixin media-up($size) {
  @media (min-width: $size) { @content; }
}

@mixin visible {
  opacity: 1;
  visibility: visible;
}
