html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
}

h1 {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: $base-line-height;
  margin: 0;
}

h2 {
  @include margin(0 null $base-spacing);
}

p {
  font-size: $small-font-size;
  margin-bottom: $small-spacing;
}

small {
  color: $light-gray;
  font-size: $xs-font-size;
}

a {
  color: inherit;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}
