html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: $base-line-height;
}

h1 {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: $base-line-height;
  margin: 0;
}

a {
  color: $base-font-color;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: $base-font-color;
    text-decoration: underline;
  }
}
