// Typography
$base-font-family: sans-serif;
$mono-font-family: monospace;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: $base-font-size * 0.875;
$xs-font-size: $base-font-size * 0.75;

// Line Heights
$base-line-height: 1em;
$loose-line-height: 2em;

// Spacing
$base-spacing: 20px;
$xxs-spacing: $base-spacing * 0.25;
$xs-spacing: $base-spacing * 0.5;
$small-spacing: $base-spacing * 0.75;
$medium-spacing: $base-spacing * 2;
$large-spacing: $base-spacing * 4;
$xl-spacing: $base-spacing * 6;

// Colors
$black: #000;
$dark-gray: #333;
$medium-gray: #AAA;
$light-gray: #EEE;
$white: #fff;
$blue: #4C65E7;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Background Colors
$base-background-color: $white;
$dark-background-color: $dark-gray;
$transparent-background-color: rgba($black, 0.5);

// Borders
$base-border-color: rgba($dark-gray, 0.1);
$base-border: 1px solid $base-border-color;

// Shadows
$shadow-color: rgba($black, 0.2);
$close-shadow: 0 5px 10px 0 $shadow-color;
$far-shadow: 0 20px 40px 0 $shadow-color;

// Animations
$base-duration: 200ms;
$slow-duration: 400ms;
$base-timing: ease-in-out;
$base-transition: all $base-duration $base-timing;

// Z-Index
$character-tile-z-index: 1000;
$overlay-z-index: 2000;
$theme-dots-z-index: 3000;

// Sizes
$info-height: 200px;
$info-height-mobile: 80vh;
$nav-width: $large-spacing;

// Content
$content_arrow: "\203A";

//Breakpoints
$ipad-width: 768px;
$macbook-width: 1440px;
$imac-width: 2550px;
$medium-screen: $ipad-width;
$large-screen: $macbook-width;
$xl-screen: $imac-width;
