// Typography
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Font Sizes
$base-font-size: 1em;
$small-font-size: $base-font-size * 0.875;
$xs-font-size: $base-font-size * 0.75;

// Line Heights
$base-line-height: 1em;
$loose-line-height: 2em;

// Spacing
$base-spacing: 20px;
$xs-spacing: $base-spacing / 4;
$small-spacing: $base-spacing / 2;
$medium-spacing: $base-spacing * 2;
$large-spacing: $base-spacing * 4;

// Colors
$black: #000;
$dark-gray: #333;
$light-gray: #AAA;
$white: #fff;
$blue: #4C65E7;
$yellow: #FBC547;
$dark-yellow: shade($yellow, 30%);

// Font Colors
$base-font-color: $dark-gray;
$light-font-color: $light-gray;
$action-color: $blue;

// Background Colors
$base-background-color: $yellow;
$secondary-background-color: $white;

// Borders
$base-border-color: shade($yellow, 10%);
$base-border: 1px solid $base-border-color;

// Shadows
$shadow-color: rgba($black, 0.2);
$close-shadow: 0 5px 10px 0 $shadow-color;
$far-shadow: 0 20px 40px 0 $shadow-color;

// Animations
$base-duration: 300ms;
$slow-duration: 500ms;
$base-timing: ease-in-out;

// Z-Index
$high-z-index: 1000;

//Breakpoints
$ipad-width: 768px;
$macbook-width: 1440px;
$medium-screen-up: $ipad-width;
$large-screen-up: $macbook-width;
