%header.header
  %h1
    %span.breadcrumb
      = link_to "Unique Characters", "/"

    - if content_for?(:breadcrumb)
      %span.breadcrumb-divider
      %span.breadcrumb
        = yield_content :breadcrumb

  .header__info{ data: { info_show: true } }
    About
