%header.header
  %h1
    %span.breadcrumb
      = link_to "Unique Characters", "/"

    - if content_for?(:breadcrumb)
      %span.breadcrumb-divider
      %span.breadcrumb
        = yield_content :breadcrumb

  = link_to "About", "#", data: { info_show: true }
