nav {
  @include position(absolute, 0 null 0 0);
  background-color: $base-background-color;
  box-shadow: 1px 0 0 $base-border-color;
  display: flex;
  font-size: $small-font-size;
  width: $nav-width;

  @include media-down($medium-screen) {
    display: none;
  }
}

.filters {
  @include overflow-y;
  @include padding($base-spacing null);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.filter {
  color: $medium-gray;
  font-weight: bold;
  line-height: $loose-line-height;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.filter__link {
  color: $base-font-color;
  display: block;
  transition: $base-transition;

  &:hover,
  &.current {
    background-color: $light-gray;
  }

  &:hover {
    background-color: $action-color;
    color: $white;
  }
}
