$header-height: $large-spacing;

.header {
  @include padding(null $medium-spacing);
  align-items: center;
  border-bottom: $base-border;
  display: flex;
  font-weight: bold;
  height: $header-height;
  justify-content: space-between;

  @include media-down($medium-screen) {
    background-color: $base-background-color;
  }

  a {
    border-bottom: 1px solid transparent;
    transition: border-bottom $base-duration $base-timing;

    &:hover {
      border-bottom: 1px solid;
    }
  }
}

.header__info {
  cursor: pointer;
}

.breadcrumb-divider::after {
  @include margin(null $xs-spacing);
  content: $content_arrow;
  opacity: 0.5;
}
