- content_for :breadcrumb, character

.character-tiles
  - characters_for_tag = data.space.characters.select{ |id, character| character.tag.character == character }
  - characters_for_tag.each do |id, character|
    = partial "partials/character_tile", locals: { typeface: character["typeface"],
      date: character["_meta"]["created_at"],
      url: character["url"],
      svg: character["svg"]["url"] }
